In [200]:
import pandas as pd
import numpy as np

RIAUS = pd.read_csv(r'../input/weather-dataset-rattle-package/weatherAUS.csv')
RIAUS.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [201]:
RIAUS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [202]:
RIAUS.isnull().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

In [203]:
RIAUS['WindGustDir'].unique()

array(['W', 'WNW', 'WSW', 'NE', 'NNW', 'N', 'NNE', 'SW', nan, 'ENE',
       'SSE', 'S', 'NW', 'SE', 'ESE', 'E', 'SSW'], dtype=object)

In [204]:
RIAUS['WindDir9am'].unique()

array(['W', 'NNW', 'SE', 'ENE', 'SW', 'SSE', 'S', 'NE', nan, 'SSW', 'N',
       'WSW', 'ESE', 'E', 'NW', 'WNW', 'NNE'], dtype=object)

In [205]:
RIAUS['WindDir3pm'].unique()

array(['WNW', 'WSW', 'E', 'NW', 'W', 'SSE', 'ESE', 'ENE', 'NNW', 'SSW',
       'SW', 'SE', 'N', 'S', 'NNE', nan, 'NE'], dtype=object)

In [206]:
RIAUS['RainToday'].unique()

array(['No', 'Yes', nan], dtype=object)

In [207]:
RIAUS['RainTomorrow'].unique()

array(['No', 'Yes', nan], dtype=object)

In [208]:
RIAUS.dropna(inplace = True)

In [209]:
RIAUS.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56420 entries, 6049 to 142302
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           56420 non-null  object
 1   Location       56420 non-null  object
 2   MinTemp        56420 non-null  float64
 3   MaxTemp        56420 non-null  float64
 4   Rainfall       56420 non-null  float64
 5   Evaporation    56420 non-null  float64
 6   Sunshine       56420 non-null  float64
 7   WindGustDir    56420 non-null  object
 8   WindGustSpeed  56420 non-null  float64
 9   WindDir9am     56420 non-null  object
 10  WindDir3pm     56420 non-null  object
 11  WindSpeed9am   56420 non-null  float64
 12  WindSpeed3pm   56420 non-null  float64
 13  Humidity9am    56420 non-null  float64
 14  Humidity3pm    56420 non-null  float64
 15  Pressure9am    56420 non-null  float64
 16  Pressure3pm    56420 non-null  float64
 17  Cloud9am       56420 non-null  float64
 18  Cloud3pm       56420 non-null  float64
 19  Temp9am        56420 non-null  float64
 20  Temp3pm        56420 non-null  float64
 21  RainToday      56420 non-null  object
 22  RainTomorrow   56420 non-null  object
dtypes: float64(16), object(7)
memory usage: 10.3+ MB

In [210]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
k = RIAUS['WindGustDir']
RIAUS['WindGustDir'] = encoder.fit_transform(k)

In [211]:
k = RIAUS['WindDir9am']
RIAUS['WindDir9am'] = encoder.fit_transform(k)

k = RIAUS['WindDir3pm']
RIAUS['WindDir3pm'] = encoder.fit_transform(k)

k = RIAUS['RainToday']
RIAUS['RainToday'] = encoder.fit_transform(k)

k = RIAUS['RainTomorrow']
RIAUS['RainTomorrow'] = encoder.fit_transform(k)

k = RIAUS['Location']
RIAUS['Location'] = encoder.fit_transform(k)

In [212]:
RIAUS.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
6049,2009-01-01,4,17.9,35.2,0.0,12.0,12.3,11,48.0,1,...,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,0,0
6050,2009-01-02,4,18.4,28.9,0.0,14.8,13.0,8,37.0,10,...,30.0,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,0,0
6052,2009-01-04,4,19.4,37.6,0.0,10.8,10.6,5,46.0,5,...,42.0,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,0,0
6053,2009-01-05,4,21.9,38.4,0.0,11.4,12.2,14,31.0,14,...,37.0,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,0,0
6054,2009-01-06,4,24.2,41.0,0.0,11.2,8.4,14,35.0,7,...,19.0,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6,0,0

In [213]:
Date = pd.to_datetime(RIAUS['Date'], infer_datetime_format = True)

In [214]:
X = RIAUS.iloc[ : , 1 : 22]

In [215]:
#X = X[ : 2000]

In [216]:
X['Evap - Sun'] = X['Evaporation'] - X['Sunshine']

In [217]:
X['WS * Cloud3pm * Sunshine * MinTemp'] = X['WindSpeed3pm'] * X['Sunshine'] * X['Cloud3pm'] * X['MinTemp']

In [218]:
X['MaxT - MinT'] = X['MaxTemp'] - X['MinTemp']

In [219]:
X['WindDir'] = X['WindDir3pm'] - X['WindDir9am']

In [220]:
X['WindSpeed'] = X['WindSpeed3pm'] - X['WindSpeed9am']

In [221]:
X['Humidity'] = X['Humidity3pm'] - X['Humidity9am']

In [222]:
X['Pressure'] = X['Pressure3pm'] - X['Pressure9am']

In [223]:
X['Cloud'] = X['Cloud3pm'] - X['Cloud9am']

In [224]:
X['Temp'] = X['Temp3pm'] - X['Temp9am']

In [225]:
X.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,RainToday,Evap - Sun,WS * Cloud3pm * Sunshine * MinTemp,MaxT - MinT,WindDir,WindSpeed,Humidity,Pressure,Cloud,Temp
6049,4,17.9,35.2,0.0,12.0,12.3,11,48.0,1,12,...,0,-0.3,22017.00,17.3,11,14.0,-7.0,-1.9,3.0,6.8
6050,4,18.4,28.9,0.0,14.8,13.0,8,37.0,10,10,...,0,1.8,4544.80,10.5,0,0.0,-22.0,-0.8,0.0,6.7
6052,4,19.4,37.6,0.0,10.8,10.6,5,46.0,5,6,...,0,0.2,18507.60,18.2,1,-15.0,-20.0,-3.1,5.0,6.2
6053,4,21.9,38.4,0.0,11.4,12.2,14,31.0,14,15,...,0,-0.8,8015.40,16.5,1,0.0,-15.0,-3.6,4.0,6.5
6054,4,24.2,41.0,0.0,11.2,8.4,14,35.0,7,14,...,0,2.8,15855.84,16.8,7,-4.0,-4.0,-3.3,5.0,4.0

In [226]:
X['Month'] = Date.dt.month

In [227]:
X['Year'] = Date.dt.year

In [228]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56420 entries, 6049 to 142302
Data columns (total 32 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Location                            56420 non-null  int64
 1   MinTemp                             56420 non-null  float64
 2   MaxTemp                             56420 non-null  float64
 3   Rainfall                            56420 non-null  float64
 4   Evaporation                         56420 non-null  float64
 5   Sunshine                            56420 non-null  float64
 6   WindGustDir                         56420 non-null  int64
 7   WindGustSpeed                       56420 non-null  float64
 8   WindDir9am                          56420 non-null  int64
 9   WindDir3pm                          56420 non-null  int64
 10  WindSpeed9am                        56420 non-null  float64
 11  WindSpeed3pm                        56420 non-null  float64
 12  Humidity9am                         56420 non-null  float64
 13  Humidity3pm                         56420 non-null  float64
 14  Pressure9am                         56420 non-null  float64
 15  Pressure3pm                         56420 non-null  float64
 16  Cloud9am                            56420 non-null  float64
 17  Cloud3pm                            56420 non-null  float64
 18  Temp9am                             56420 non-null  float64
 19  Temp3pm                             56420 non-null  float64
 20  RainToday                           56420 non-null  int64
 21  Evap - Sun                          56420 non-null  float64
 22  WS * Cloud3pm * Sunshine * MinTemp  56420 non-null  float64
 23  MaxT - MinT                         56420 non-null  float64
 24  WindDir                             56420 non-null  int64
 25  WindSpeed                           56420 non-null  float64
 26  Humidity                            56420 non-null  float64
 27  Pressure                            56420 non-null  float64
 28  Cloud                               56420 non-null  float64
 29  Temp                                56420 non-null  float64
 30  Month                               56420 non-null  int64
 31  Year                                56420 non-null  int64
dtypes: float64(24), int64(8)
memory usage: 14.2 MB

In [229]:
X.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,WS * Cloud3pm * Sunshine * MinTemp,MaxT - MinT,WindDir,WindSpeed,Humidity,Pressure,Cloud,Temp,Month,Year
6049,4,17.9,35.2,0.0,12.0,12.3,11,48.0,1,12,...,22017.00,17.3,11,14.0,-7.0,-1.9,3.0,6.8,1,2009
6050,4,18.4,28.9,0.0,14.8,13.0,8,37.0,10,10,...,4544.80,10.5,0,0.0,-22.0,-0.8,0.0,6.7,1,2009
6052,4,19.4,37.6,0.0,10.8,10.6,5,46.0,5,6,...,18507.60,18.2,1,-15.0,-20.0,-3.1,5.0,6.2,1,2009
6053,4,21.9,38.4,0.0,11.4,12.2,14,31.0,14,15,...,8015.40,16.5,1,0.0,-15.0,-3.6,4.0,6.5,1,2009
6054,4,24.2,41.0,0.0,11.2,8.4,14,35.0,7,14,...,15855.84,16.8,7,-4.0,-4.0,-3.3,5.0,4.0,1,2009

In [230]:
K = X

In [231]:
#K.drop(['WindDir9am', 'WindDir3pm', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm', 'Pressure9am', 
         #'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am', 'Temp3pm'], inplace = True, axis = 1)

In [232]:
y = RIAUS['RainTomorrow']

In [233]:
#y = y[ : 2000]

In [234]:
K.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,WS * Cloud3pm * Sunshine * MinTemp,MaxT - MinT,WindDir,WindSpeed,Humidity,Pressure,Cloud,Temp,Month,Year
6049,4,17.9,35.2,0.0,12.0,12.3,11,48.0,1,12,...,22017.00,17.3,11,14.0,-7.0,-1.9,3.0,6.8,1,2009
6050,4,18.4,28.9,0.0,14.8,13.0,8,37.0,10,10,...,4544.80,10.5,0,0.0,-22.0,-0.8,0.0,6.7,1,2009
6052,4,19.4,37.6,0.0,10.8,10.6,5,46.0,5,6,...,18507.60,18.2,1,-15.0,-20.0,-3.1,5.0,6.2,1,2009
6053,4,21.9,38.4,0.0,11.4,12.2,14,31.0,14,15,...,8015.40,16.5,1,0.0,-15.0,-3.6,4.0,6.5,1,2009
6054,4,24.2,41.0,0.0,11.2,8.4,14,35.0,7,14,...,15855.84,16.8,7,-4.0,-4.0,-3.3,5.0,4.0,1,2009

In [235]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

scaled_data = scaler.fit_transform(K)
K = scaled_data

In [236]:
from sklearn.decomposition import PCA

pca2 = PCA(n_components = 10)
components2 = pca2.fit_transform(K)
components2_df = pd.DataFrame(components2)

In [237]:
from sklearn.model_selection import cross_val_score, KFold, StratifiedKFold, RandomizedSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from xgboost import XGBClassifier

model = DecisionTreeClassifier()

alphas = model.cost_complexity_pruning_path(components2_df, y)['ccp_alphas']
alphas

array([0.00000000e+00, 1.32931585e-05, 1.41793690e-05, ...,
       6.16966439e-03, 9.85715320e-03, 5.17496586e-02])

parameters = {
            'ccp_alpha' : alphas
}

modelRSCV = RandomizedSearchCV(estimator = model, param_distributions = parameters, n_iter = 10, cv = 5, verbose = 3,
                              n_jobs = -1, scoring = 'accuracy')

modelRSCV.fit(components2_df, y)

print('Best params', modelRSCV.best_params_)
print('Best estimator', modelRSCV.best_estimator_)
print('Best score', modelRSCV.best_score_)

In [238]:
model2 = RandomForestClassifier(n_estimators = 1000, max_features = 'sqrt', max_depth = 15, min_samples_split = 10,
                               min_samples_leaf = 2, bootstrap = True, ccp_alpha = 0.003533)

score = cross_val_score(model2, components2_df, y, cv = 5)
score.mean()

0.8030485643388869